
  @font-face {
    font-family: 'jojo';
    src: url("Jojo.ttf");
    font-weight: 600;
    font-style:normal;
  }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#locationForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px
}
.container{
    display:flex;
    justify-content: center;
}
.loading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100px;

}
.loading_area{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;

}
.weather{
    
    display: flex;
    flex-direction: column;
    gap:15px;
    background-color:;
}
#header{
    font-family:'jojo';
    display: flex;
    background-color: darkcyan;
    justify-content: center;
    align-items: center;
}
#weather_report_div{
    display: flex;
    justify-content: center;
    align-items: center;

}
#weather_report{
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box2 {
    width: 300px;
    margin: 50px auto;
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #00bfb6;
    font-family: arial;
    position: relative;
  }
.sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -23px;
  }
  
  .sb3:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -18px;
  }
  footer{
    display: flex;
    gap:40px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: black;
  }
  #github{
    width: 50px;
    
  }
  #link{
    width: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }